body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f0f0f0;
}

h1 {
    color: #333;
}

.btn {
    background: #007BFF;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

table {
    margin-top: 20px;
    width: 50%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #555;
    padding: 10px;
}

